---
layout: default
title: Draper Startup House Chiang Mai
description: For SEO, keep at 160 words max
preview_image: assets/images/placeholder-007.jpg
header_image: assets/images/DSH-CM-Cafe-17.JPG
hero_video: assets/DH-WalkThrough-Cut-Compressed-3.webm
hero_alt_video: assets/DH-WalkThrough-Cut-Compressed-safari.mp4
features:
  - title: Hostel
    subtitle: Stay with Us
    content_html: Enjoy staying with us in the heart of Nimmanhaemin, a hip, happening and highly walkable neighborhood popular with digital nomads and travelers of all stripes. Draper Startup House Chiang Mai offers comfortable accommodations along with a stylish place to work and hang out. Our cozy space has an 8-bed mixed dorm, two private queen rooms which share a bath, and one king room with private ensuite bath. Our guests also have access to coworking space, meetings rooms, and community events. Whether you're on a bootstrap budget or a business traveler, we're here to make your stay in Chiang Mai both comfortable and productive.
    price:
    add_button: true
    button_content:  Book a Room <i class="fa fa-external-link" aria-hidden="true"></i>
    button_url: 'https://hotels.cloudbeds.com/reservation/Te57EC'
  - title: Coworking
    subtitle: Become a Member
    content_html: Coworking is a great way to meet new people, stimulate your creativity, and learn from those around you. Members at Draper Startup House get so much more than just wifi and a desk, we also provide mentorship, networking and events curated specifically to support entrepreneurs and startups. We offer Day Passes for casual visitors, Flex Passes for those who just like a place to drop in from time to time, or Monthly Memberships which give you 24-hour access and more. Explore our membership packages to find the right fit for your coworking needs and see what amenities we offer.
    price:
    add_button: true
    button_content: See Memberships
    button_url: /coworking
  - title: Events
    subtitle: Connect with Community
    content_html: From casual meetups to expert-led workshops, we host events that connect, inspire and empower entrepreneurs. Alongside masterminds, panel talks and business-oriented events, we also offer yoga, board game and movie nights, brunch and other casual events that help you to connect around your interests without the stuffiness of traditional networking. We're committed to community, and maintain an active roster of events year-round. If you're looking for a venue to host your next workshop or event, get in touch, we support partners and service providers who share our mission.
    price:
    add_button: true
    button_content: Events Calendar <i class="fa fa-external-link" aria-hidden="true"></i>
    button_url: 'https://dshchiangmai.eventbrite.com/'
gallery:
  - title: Private Rooms
    image: /assets/images/DSH-CM-Angel-2.JPG
    alt_text: Some SEO alt here
  - title: Mixed Dorm Room
    image: /assets/images/DSH-CM-Bootstrap-2.JPG
    alt_text: Some SEO alt here
  - title: Coworking Space
    image: /assets/images/DSH-CM-Lounge-2.JPG
    alt_text: Some SEO alt here
  - title: Rooftop Venue
    image: /assets/images/DraperHouseInterior2-58.JPG
    alt_text: Some SEO alt here
  - title: Meeting Room
    image: /assets/images/DSH-CM-Coworking-3.JPG
    alt_text: Some SEO alt here
  - title: Skype Rooms
    image: /assets/images/DSH-CM-Coworking-1.JPG
    alt_text: Some SEO alt here
  - title: Cafe
    image: /assets/images/DSH-CM-Cafe-12.JPG
    alt_text: Some SEO alt here
  - title: Premium Local Coffee
    image: /assets/images/coffee.jpg
    alt_text: Some SEO alt here
  - title: Healthy & Delicious Food
    image: /assets/images/DraperHouseCuisine-161.JPG
    alt_text: Some SEO alt here
  - title: Events & Activities
    image: /assets/images/yoga2.jpg
    alt_text: Some SEO alt here
  - title: Networking
    image: /assets/images/cityspotlight.jpg
    alt_text: Some SEO alt here
  - title: Mentorship
    image: /assets/images/emrekris.png
    alt_text: Some SEO alt here
services:
  - title: Visa Support
    subtitle:
    content_html: >-
      Whether you're looking for the best Thailand visa for digital nomads or you need a long-term solution for living and working in Thailand legally, we can advise you on the best options to suit both your personal needs and that of your business. Our specialties are SMART Visas and Non-B Business Visas.
    price:
    add_button: true
    button_content: 'Get More Info <i class="fa fa-envelope" aria-hidden="true"></i>'
    button_url: 'mailto:lily@dshchiangmai.com'
  - title: Company Registration
    subtitle:
    content_html: >-
      Setting up a company? We can help. We partner with trusted lawyers and accountants to help you register your company in Thailand. Our team offer affordable consultations to help you get started, or we can work closely with you from start to finish, handling the heavy load of documentation.
    price:
    add_button: true
    button_content: 'Get More Info <i class="fa fa-envelope" aria-hidden="true"></i>'
    button_url: 'mailto:lily@dshchiangmai.com'
  - title: Business Consulting
    subtitle:
    content_html: >-
      From digital marketing strategy, to business planning, to pitch deck design and more, we can offer your business guidance and support. With a wealth of experience in startups and tech, you can lean on our team to help you take your project to the next level. And if we can't help you in-house, you can tap into our extensive talent network in Chiang Mai and further afield.
    price:
    add_button: true
    button_content: 'Get More Info <i class="fa fa-envelope" aria-hidden="true"></i>'
    button_url: 'mailto:lily@dshchiangmai.com'
---

<main>
  <!-- <section class="above-the-fold-container index bg-image hero flex-center body-padding" style="background-image: url({{page.header_image}});">
    <h2 class="text-highlight">
      Welcome to
    </h2>
    <div class="logo">
      <img class="logo-container-hero" src="/assets/graphics/dsh-white.png" alt="Draper Startup House logo">
    </div>
    <h2 class="text-highlight">
      Chiang Mai, Thailand
    </h2>
  </section> -->
  <section class="above-the-fold-container index bg-image hero flex-center">
    <video preload poster="{{page.header_image}}" muted autoplay playsinline loop>
      <source src="{{page.hero_video}}" type="video/webm">
      <source src="{{page.hero_alt_video}}" type="video/mp4">
    </video>
    <div class="above-the-fold-content-index">
      <h2 class="text-highlight">
        Welcome to
      </h2>
      <div class="logo">
        <img class="logo-container-hero" src="/assets/graphics/dsh-white.png" alt="Draper Startup House logo">
      </div>
      <h2 class="text-highlight">
        Chiang Mai, Thailand
      </h2>
    </div>
  </section>
  <section class="body-padding py-4">
    <div class="grid">
        <div class="col-6_md-12 py-3">
          <h3>Connecting you to Chiang Mai</h3>
          <p>
            Arts, culture, creativity, entrepreneurship and more come together in Chiang Mai, Thailand. Whether you've come for the sunshine, the coffee culture, or to connect with the city's vibrant digital nomad community, we'll tap you in to the best Chiang Mai has to offer. Our cafe, coworking space and hostel is a gathering place for entrepreneurs, startups, and anybody seeking a supportive community. Visit us today at our location in Nimmanhaemin.
          </p>
          <h3>Open Mon to Sat 7am - 6pm | 24hrs for members</h3>
          <div>
            <a target="_blank" class="btn my-2" href="https://goo.gl/maps/VwtCt97is51HbCf3A" rel="noopener noreferrer">Location & Directions  <i class="fa fa-map-marker" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-6_md-12 px-2 py-2">
          <img src="/assets/images/DSH-CM-Hostel-Front-2.png" alt="draper startup house shop front" />
        </div>
    </div>
  </section>
  <section class="home-header bg-image py-lg body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url(/assets/images/IMG_0617.png); background-position: center;">
    <h2 class="impact-heading text-white">Join our community</h2>
    <h3 class="text-white">We connect you to talent, mentorship and opportunities in Chiang Mai</h3>
    <p class="text-white">
      What's the best way to level up your skills or give your business a boost? Surround yourself with talented, highly-motivated people who will inspire and empower you to do more! Live with us, cowork with us, or just drop in for an event. Our emphasis on community and entrepreneurship means you'll get to connect with the right people.
    </p>
  </section>
  {% include blocks/features.html %}
  <section id="lg-gallery" class="body-padding py-4">
    <h2 class="impact-heading pad-bottom-s xl-heading opacify center">What We Offer</h2>
    <div class="grid-spaceBetween-middle-center">
      {% for image in page.gallery %}
      <div class="col-4_md-6_sm-12 pad-bottom-s center">
        <h3>{{image.title}}</h3>
        <img src="{{image.image}}" alt="{{image.alt_text}}"/>
      </div>
      {% endfor %}
    </div>
    <div class="center editable">
      <h3>Whether you’re enjoying our coworking or staying with us, being a member has perks!</h3>
      <a class="btn my-2 mx-1" target="_blank" href="https://hotels.cloudbeds.com/reservation/Te57EC" rel="noopener noreferrer">Check Rooms & Rates</a>
      <a class="btn my-2 mx-1" href="/coworking">See Coworking Packages</a>
    </div>
  </section>
  <section class="home-header bg-image py-lg grid-bottom body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url(/assets/images/IMG9586.png)">
    <div class="col-12 editable">
      <h2 class="impact-heading text-white">Startup Services</h2>
      <h3 class="text-white">Consulting, visa and legal services to help launch your business</h3>
      <p class="text-white">
        It takes more than just an idea and hard work to build a business. Whatever your business needs, you can count on Draper Startup House and our trusted partner networks to help. From strategy and business plans to visas and company registration, we're experienced in all the heavy-lifting it takes to get a new venture off the ground.
      </p>
    </div>
  </section>
  {% include blocks/services.html %}
  <section class="body-padding">
    <p class="show-tablet my-2"></p>
      <div class="center my-2 pad-all-s bg-green editable">
        <h3 class="text-white">Fundraising for your startup?</h3>
        <p class="text-white">
          Draper Startup House Ventures is committed to helping startups at all stages from all industries connect with funding. Operating as a venture syndicate, we work with a network that includes international VCs, startup incubators and accelerators, as well as independent business angels to spread the word about your idea and get your pitch deck seen by the right people.
        </p>
        <div class="grid-spaceAround">
          <a href="https://draperstartuphouse.com/ventures" target="_blank" class="btn btn-light" rel="noopener noreferrer">Learn More About DSH Ventures   <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>

  <section class="body-padding py-4">
    <h2 class="impact-heading pad-bottom-s center">Our Mission</h2>
    <div class="grid">
        <div class="col-6_md-12 px-2 py-2">
          <h3 class="editable">To enable 1 million entrepreneurs…</h3>
          <p class="editable">
            With 9 locations and counting, our international hostels provide opportunity for traveling startups, digital nomads, creatives, and the larger entrepreneurial community to connect to new opportunities, inspire one another to innovate and execute, and empower one another to GO BIG, give back, and drive progress.<br /><br />Whether you’re visiting one of our hostels in Bali, Indonesia or in Austin TX, you’ll find the same valued approach drives each experience – real human connection, inspired business travel, a diverse-minded community and access to global citizens. Our hostels provide a place to fuel your ideas, to learn and grow, or even to just hang out and meet new and interesting people in some of the most exciting areas of the world.
          </p>
          <a class="btn" href="/about" style="margin-bottom: 2%; margin-right: 2%;">About DSH Chiang Mai</a>
          <a target="_blank" class="btn" href="https://draperstartuphouse.com/europe-asia/">About DSH Global <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
        <div class="col-6_md-12 px-2 py-2">
          <img src="/assets/images/dshglobal.png" alt="draper startup house world locations map" />
        </div>
    </div>
  </section>
  {% include blocks/contact.html %}
</main>
